{% extends "layout.html" %}
{% block title %}Consultas{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% set content %}

<div style="display:flex">
    <h1 class="mx-auto">Consultas</h1>
</div>
<div style="display:flex">
    <a href="{{ url_for('home') }}" class="link mx-auto">Volver</a>
    <a href="{{ url_for('issue_new') }}" class="link mx-auto">Nuevo</a>
</div>
<div class="container">
  <ul class="list-group">
    {% for issue in issues %}
    <li class="list-group-item {{loop.cycle('oddRow', 'evenRow')}}">
            <h5>{{ 'New' if issue.status_id==1 else ('toDo 'if issue.status_id==2 else 'inProgress') }} </h5>
            <p>{{ issue.description }}</p>
        <p>autor: {{ issue.email }} - categoría: <em class="{{ 'bug' if issue.category_id==1 else 'question' }}">{{ 'Bug' if issue.category_id==1 else 'Question' }}</em></p>
    </li>
    {% endfor %}
    </ul>
</div>
{% endset %}
