{% extends "layout.html" %}
{% block title %}Consultas{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Crear una consulta</h1>
<div class="container">
  <form action="{{ url_for('issue_create') }}" method="POST">
    <div class="row">
      <div class="col-25">
        <label for="mail">Email</label>
      </div>
      <div class="col-75">
        <input  type="text" id="mail" name="email" placeholder="Correo"/>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Descripcion</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Descripción del issue.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="category">Categoría</label>
      </div>
      <div class="col-75">
        <select id="category" name="'category_id'">
          <option value='1'>Bug</option>
          <option value='2'>Question</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="status">Estado</label>
      </div>
      <div class="col-75">
        <select id="status" name="'status_id'">
          <option value='1'>New</option>
          <option value='2'>Todo</option>
          <option value='3'>In Progress</option>
        </select>
      </div>
    </div>
    <div class="row">
      <button type="reset">Limpiar</button>
      <input type="submit" value="Crear">
    </div>
  </form>
  </div>
<div style="display:flex">
  <a href="{{ url_for('issue_index') }}" class="link">Volver</a>
</div>
{% endblock %}
