{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% set content %}
<div style="display:flex">
    <h1 class="mx-auto">Usuarios</h1>
</div>
<div style="display:flex">
    <a href="{{ url_for('home') }}" class="link mx-auto">Volver</a>
    <a href="{{ url_for('user_new') }}" class="link mx-auto">Nuevo</a>
</div>
<div class="container">

    <div class="card">
        <div class="card-body">
            <p class="card-description">
                Lista de usuarios
            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr align="center">
                        <th></th>
                        <th>Correo</th>
                        <th>Username</th>
                        <th>Nombre</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in pagination.items %}
                    <tr align="center">
                        <td><i class="{{ 'fa fa-user text-success' if user.active else 'fa fa-user text-danger' }}"></i>
                        </td>
                        <td>{{user.email}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.first_name}} {{user.last_name}}</td>
                        {% if user_is_admin %}
                        <td><label class="badge badge-alert">
                            <a class="text-decoration-none"
                               href="{{url_for('user_update_by_id', user_id=user.id)}}">Editar</a></label>
                        </td>
                        {% if user.active %}
                        <td><label class="badge badge-success decoration-none">
                            <a class="text-decoration-none"
                               href="{{url_for('user_deactivate', id=user.id)}}">Desactivar</a></label>
                        </td>
                        {% else %}
                        <td><label class="badge badge-danger">
                            <a class="text-decoration-none"
                               href="{{url_for('user_activate', id=user.id)}}">Activar</a></label>
                        </td>
                        {% endif %}
                        <td>
                            <a class="text-decoration-none"
                               href="{{url_for('user_delete_by_id', user_id=user.id)}}"><i
                                    class="fa fa-trash-alt text-danger"></i></a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal"
                                    data-target="#modalDeleteUser{{loop.index}}">Eliminar
                            </button>
                        </td>
                        {% endif %}
                    </tr>

                    {# modal delete user #}
                    <div id="confirm-deletion-user-{{loop.index}}">
                        <div id="modalDeleteUser{{loop.index}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">Eliminar Usuario</div>
                                    <div class="modal-body">¿Estás seguro que queres eliminar al usuario
                                        <b>{{user.username}}</b>? Este cambios
                                        es irreversible
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{{url_for('user_delete_by_id', user_id=user.id)}}" method="post">
                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                            <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                    </tbody>
                </table>
                <div class=pagination>
                    <!-- previous page -->
                    {% if pagination.has_previous %}
                    <li>
                        <a href="{{ url_for('user_index', page=pagination.previous_page) }}">Previous</a>
                    </li>
                    {% endif %}

                    {%- for page in range(1,pagination.pages) %}
                    <a href="{{ url_for('user_index', page=page) }}">{{ page }}</a>
                    <span class=ellipsis>…</span>

                    {%- endfor %}

                    <!-- next page -->
                    {% if pagination.has_next %}
                    <li>
                        <a href="{{ url_for('user_index', page=pagination.next_page) }}">Next</a></li>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="m-3">
            <h5>Buscar por nombre de usuario</h5>
            <form class="form-inline my-2  mr-auto  "
                  action="{{url_for('user_search_by_username')}}">
                <input class="form-control mr-sm-2" type="text" id="username" name="username" placeholder="Username"
                       aria-label="Username">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
        <div class="m-3">
            <h5>Buscar por estado</h5>
            <a class="btn btn-outline-success my-2 my-sm-0" href="{{url_for('user_search_by_status', status=True)}}">Activos</a>
            <a class="btn btn-outline-success my-2 my-sm-0" href="{{url_for('user_search_by_status', status=False)}}">Inactivos</a>
        </div>
    </div>
</div>
{% endset %}
