{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<br>
<div id="content">
    <section>
        <div class="container">
            <ul class="nav nav-tabs dark">
                <li class="nav-item">
                    <a href="" class="nav-link nav-link-perfil active" data-toggle="tab"><i class="icon ion-md-settings"></i> Configuración del sistema</a>
                </li>
            </ul>
            <br>
             
                <form method=post action="{{url_for('config_sistema_post', id=1 )}}" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <dl>
                        
                        <dt>{{form.titulo.label}}</dt>
                        <dd>{{form.titulo(class="col-sm-6 col-form-label form-control")}}</dd>
                        
                        <dt>{{form.descripcion.label}}</dt>
                        <dd>{{form.descripcion(class="col-sm-6 col-form-label form-control")}}</dd>
                
                
                        <dt>{{form.bienvenida.label}}</dt>
                        <dd>{{form.bienvenida(class="col-sm-6 col-form-label form-control")}}</dd>

                        <dt>{{form.email.label}}</dt>
                        <dd>{{form.email(class="col-sm-6 col-form-label form-control")}}</dd>

                        <dt>{{form.cant_por_pagina.label}}</dt>
                        <dd>{{form.cant_por_pagina(class="col-sm-1 col-form-label form-control")}}</dd>

                        <!--Esto lo dejo sólo a modo de ejemplo-->
                        <dt>{{form.habilitado.label}}</dt>
                        <fieldset class="form-group">
                          <div class="row">
                            
                            <div class="col-sm-10">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                <label class="form-check-label" for="gridRadios1">
                                  Habilitada
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                  Deshabilitada
                                </label>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                    </dl>
                    <p><input type=submit value='Guardar Cambios' class="btn btn-primary js-scroll-trigger">
                        <a href="{{ url_for('home') }}" class="btn btn-primary js-scroll-trigger">Cancelar</a>
                    </p>
                </form>
            
        </div>
    </section>
</div>

{% endblock %}
