#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-bottom: 100px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; /* Set the fixed height of the footer here */
    line-height: 100px; /* Vertically center the text there */
    background-color: #212529;
}

@media (max-width: 768px) {
    #app {
        margin-bottom: 210px; /* Margin bottom by footer height */
    }

    .footer {
        height: 200px; /* Set the fixed height of the footer here */
    }
}

.titulo {
    font-family: 'Hammersmith One', sans-serif;
    background-size: cover;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 4vh;
    line-height: .75;
    margin: 10px 0;
    color: #6d696e;
}

.tituloba {
    color: darkcyan !important;
}

