{% extends "layout.html" %}
{% block title %}Centros{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% set content %}
<div style="display:flex">
    <h1 class="mx-auto">Centros</h1>
</div>
<div style="display:flex">
    <a href="{{ url_for('home') }}" class="link mx-auto">Volver</a>
    <a href="{{ url_for('center_new') }}" class="link mx-auto">Nuevo</a>
</div>
<div class="container">

    <div class="card">
        <div class="card-body">
            <p class="card-description">
                Lista de centros
            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr align="center">

                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>sitio web</th>
                        <th>Estado</th>
                        <th>Publicado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for center in pagination.items %}
                    <tr align="center">
                        <td>
                            {% import 'center/show.html' as show_center %}
                            {{ show_center.set(center, loop.index) }}
                        </td>
                        <td>{{center.phone}}</td>
                        <td>{{center.web_site}}</td>
                        <td>{{center.state}}</td>
                        <td>{{ 'Si' if center.published else 'No' }}</td>

                        {% if has_perm('centro_update') %}
                        <td>
                            {% import 'components/editButton.html' as editButton %}
                            {{ editButton.set('center_update_form',center.id) }}
                        </td>
                        {% endif %}

                        {% if has_perm('centro_destroy')%}
                        <td>
                            {% import 'components/deleteButton.html' as deleteButton %}
                            {% set header = '<div>Eliminar centro <b class="mr-auto" style="padding-left:1vh">{}</b></div>'.format(center.name) %}
                            {% set body = '<b>Este cambio es irreversible</b>' %}
                            {{ deleteButton.set('center_delete',center.id, header, body, loop.index ) }}

                        </td>
                        {% endif %}
                    </tr>




                    {% endfor %}
                    </tbody>
                </table>
                {% import 'components/pagination.html' as pag %}
                {% if request.path == url_for('center_index') %}
                    {{ pag.set('center_index',pagination) }}
                {% elif request.path == url_for('centro_search_by_published') %}
                    {{ pag.set('centro_search_by_published',pagination, request.args.get('published')) }}
                {% else %}
                    {{ pag.set('centro_search_by_name',pagination,request.args.get('name')) }}
                {% endif %}
            </div>
        </div>
        {% if has_perm('centro_index') %}
        <div class="m-3">
            <h5>Buscar por nombre de centro </h5>
            <form class="form-inline my-2  mr-auto  "
                  action="{{url_for('centro_search_by_name')}}">
                <input class="form-control mr-sm-2" type="text" id="name" name="name" placeholder="nombre del centro"
                       aria-label="name">
                <input id="page" name="page" type="hidden" value="1">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
        <div class="m-3">
            <h5>Buscar por estado</h5>
            <a class="btn btn-outline-success my-2 my-sm-0"
               href="{{url_for('centro_search_by_published', published=True)}}" >Publicados</a>
            <a class="btn btn-outline-success my-2 my-sm-0"
               href="{{url_for('centro_search_by_published', published=False)}}">Despublicados</a>
        </div>
        {% endif %}
    </div>
</div>
{% endset %}