<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block head %}
    <!--    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>-->
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <span class="d-lg-inline-block d-none">Donaciones.gov</span>
        </a>
        {% block navbar %}
        {% endblock %}
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="form-inline my-2 my-lg-0 mr-auto d-lg-inline-block d-none">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="collapse navbar-collapse" style='max-width:20%' id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto ">
                <li class="nav-item dropdown mx-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link dropdown-item" href="{{ url_for('issue_index') }}">Consultas</a>
                        {% if is_authenticated(session) %}
                        <a class="nav-link dropdown-item" href="{{ url_for('user_index') }}">Usuarios</a>
                        {% endif %}

                    </div>
                </li>
                <li class="divider">&nbsp</li>
                <li class="nav-item dropdown mx-auto">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        yo
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if is_authenticated(session) %}
                        <a class="dropdown-item" href="{{ url_for('user_index') }}">perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('auth_logout') }}">log out</a>
                        {% else %}
                        <a class="dropdown-item" href="{{ url_for('auth_login') }}">log in</a>
                        {% endif %}

                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<content style="min-Height:calc(100vh - 60px)">
    <div id="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, mess in messages %}
        {% if category != 'message' %}
        <div class="alert alert-{{category}} alert-dismissible fade show ">
            {% else %}
            <div class="alert alert-danger alert-dismissible fade show ">
                {% endif %}
                <button type="button" class="fade close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{mess}}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </div>
</content>
<footer class="mt-auto bg-dark" style="height:60px" id="footer">
    <div class="mx-auto" style="margin-top:20px;width:40%;text-align:center;color:white">
        <p class="mx-auto" style="width:60%">
            desarrollado por grupo 56</p>
    </div>
    {% block footer %}
    {% endblock %}
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
